{% extends '::base.html.twig' %}
{% block body -%}
<div class="jumbotron">
    <h2>Tag</h2>
</div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        

        <a href="{{ path('tag_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-md">Edit</a>
<hr />
{{ form(delete_form) }}
<hr />
<a href="{{ path('tag') }}">Back Tag List</a>
{% endblock %}
